venv
.idea
media/merged.png
media/resize.png
media/rotate.png
media/user.png
media/user/*
media/temp/*
*.pyc
Root/settings/dev-sqlite.py
Root/settings/dev-postgres.py
Root/settings/templates/
db.sqlite3
logs/*
