{% extends "layout.html" %}
{% load static from staticfiles %}
{% load helper_tags %}
{% block styles %}

    <style>
    .modal{
        width: 80%;
        height:90%;
    }

    </style>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            {% for cap in caps %}

                <div class="col s6 m3">
                    <div class="card hoverable" style="height: 350px">
                        <div class="card-image">
                            <img src="{{ cap.picture }}">
                        </div>
                        <div class="card-content">
                            <p>{{ cap.name }}</p></div>
                        <div class="card-action">
                            <a target="_blank" href="{{ cap.url }}">Buy Now</a>
                            <a target="_blank" class="right" href="{{ cap.url }}">${{ cap.price|cost_to_usd }}</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>

    <div id="pictureModal" class="modal">
        <div class="modal-content">

            <img src="/media/merged.png" class="materialboxed" alt="">

        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script>

        $(document).ready(function () {
            $('.modal').modal();


            $(".card-image").click(function () {

                $("#pictureModal").modal('open')

            })

        })
    </script>
{% endblock %}