{% extends "layout.html" %}
{% load static from staticfiles %}

{% block styles %}

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .row {
            margin: 0 !important;
        }

        .full {
            height: 100%
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row full">
        <div class="col s6 blue full center valign-wrapper" onclick="window.location.href='{% url 'cappr:add_caps' %}'">
            <div style="width: 100%;padding-bottom: 7.5%">
                <h3 class="white-text center">Add Caps</h3>
            </div>
        </div>
        <div class="col s6 teal full center valign-wrapper"  onclick="window.location.href='{% url 'cappr:image' %}'">
            <div style="width: 100%;padding-bottom: 7.5%">
                <h3 class="white-text center">Cappr</h3>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}